<div class="titulo pt-2">
  <p class="fw-bold h5">Experiencia</p>
</div>
<div class="pt-2 d-flex flex-column">
  <ul *ngFor="let experiencia of experienciaList" style="list-style-type:none">
    <div class="lh-sm">
      <li class="fw-bold">{{experiencia.company}}</li>
    </div>
      <li class="fw-lighter" style="color:rgb(90, 90, 90)">{{experiencia.start}} - {{experiencia.end}}</li>
      <li>{{experiencia.position1}}</li>
      <li>{{experiencia.position2}}</li>
      <li>{{experiencia.position3}}</li>
      <li>{{experiencia.position4}}</li>
  </ul>
</div>
