<section>
    <div>
      <div class="titulo">
        <h2>Perfil Profesional</h2>
      </div>
      <ul>
        <li>Diseñadora integral especializada en preimpresión digital para offset y procesos post-impresión.</li>
        <li>Estudiante de UX/UI y Web Full Stack</li>
        <li>Docente</li>
      </ul>
    </div>
    <div class="titulo">
      <h2>Experiencia</h2>
    </div>
    <div>
      <div class="aside2">
        <P style="font-weight: lighter;"><span>Plastificar S.R.L.</span> [2013 - 2021]</P>
      </div>
      <div class="section2" style="padding-top: 0px;">
        <ul>
          <li>Encargada del área de producción gráfica.</li>
          <li>Armado y corrección de originales para preimpresión en offset.</li>
          <li>Asesoramiento técnico sobre procesos post-impresión</li>
          <li>Armado de polímeros para BUV sectorizado y matrices de hot-stamping y relieve en seco.</li>
        </ul>
      </div>
      <div class="aside2">
        <P style="font-weight: lighter;"><span>t[é]ms</span> [2004 - 2013]</P>
      </div>
      <div class="section2">
        <ul>
          <li>Branding.</li>
          <li>Diseño y producción de packaging publicitario.</li>
          <li>Diseño Web</li>
        </ul>
      </div>
    </div>
  </section>