 <aside>
    <div class="pink1 p-3 justify-content-center align-content-center d-flex">
    <p class="fw-bold m-0 p-0 h4">Skills</p>
  </div>
  <div class="row justify-content-center">
    <img src="assets/img/skills.png" style="max-width: 250px" />
  </div>
  <div class="pink1 p-3 justify-content-center align-content-center d-flex">
    <p class="fw-bold m-0 p-0 h4">Idiomas</p>
  </div>
  <div class="row justify-content-center">
    <img src="assets/img/idioma.png" style="max-width: 250px" />
  </div>
</aside>