<div id="exp">
    <div class="titulo pt-2">
      <p class="fw-bold h5">Experiencia</p>
    </div>
    <div class="d-flex flex-sm-row flex-column p-3 pt-0">
      <div class="d-flex col-md-3 flex-column m-0">
        <p class="fw-bold m-0 pt-2">Plastificar S.R.L.</p>
        <p class="m-0">[2013 - 2021]</p>
      </div>
      <div class="d-flex col-md-9 pt-2">
        <ul>
          <li>Encargada del área de producción gráfica.</li>
          <li>Armado y corrección de originales para preimpresión en offset.</li>
          <li>Asesoramiento técnico sobre procesos post-impresión</li>
          <li>Armado de polímeros para BUV sectorizado y matrices de hot-stamping y relieve en seco.</li>
        </ul>
      </div>
    </div>
</div>
<div class="d-flex flex-sm-row flex-column p-3 pt-0">
    <div class="d-flex col-md-3 flex-column m-0">
      <p class="fw-bold m-0 p-0">téms</p>
      <p>[2005 - 2013]</p>
    </div>
    <div class="d-flex col-md-9">
      <ul>
        <li>Branding.</li>
        <li>Diseño y producción de packaging publicitario.</li>
        <li>Diseño Web</li>                
      </ul>
    </div>
</div>
