<header
      class="d-flex align-items-center justify-content-center justify-content-sm-between flex-sm-row flex-column p-2 darkGrey1">
      <div class="col-md d-flex p-3">
        <img src="assets/img/argP-logo.png" class="img-responsive" style="max-width: 170px;" alt="Argentina Programa Logo" />
      </div>
      <div class="socialMedia col-md d-flex justify-content-end p-2">
        <a href="https://www.youtube.com/channel/UCmdzqadPlzkcHo60HP114aA" target="_blank">
          <img src="assets/img/youtube.png" alt="YouTube Logo" />
        </a>
        <a href="https://www.linkedin.com/in/ntuttolomondo/" target="_blank">
          <img src="assets/img/linkedin.png" alt="LinkedIn Logo" />
        </a>
        <a href="#"> <img src="assets/img/login.png" alt="Login" /></a>
      </div>
    </header>
    